.elixir-tools
.elixir_ls

# The directory Mix will write compiled artifacts to.
streamcast_api/_build/

# If you run "mix test --cover", coverage assets end up here.
streamcast_api/cover/

# The directory Mix downloads your dependencies sources to.
streamcast_api/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
streamcast_api/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
streamcast_api/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
streamcast_api-*.tar

streamcast_app/dist
streamcast_app/.solid
streamcast_app/.output
streamcast_app/.vercel
streamcast_app/.netlify
streamcast_app/netlify
streamcast_app/.vinxi

# Environment
streamcast_app/.env
streamcast_app/.env*.local

# dependencies
streamcast_app/node_modules
